body,html {
    width:100%;
    height:100%;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@media (min-width: 1200px) and (max-width: 1920px) {
.autoheight {
height: 15rem;
}
}
a {
    color:#000000;
    font-size: 2.2vmin;
}
a:after {
    background-color:#F30021;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .35s ease-in-out;
}
a:hover:after,
a:focus:after {
    width: 100%;
}
