<div class="container mt-3">
  <div class="row">
    <div class="col-sm-9 order-2 order-sm-1">
      <h3>Мастер добавления студента</h3>
      {{#if wereDone}}
      <div class="alert alert-success mt-2" role="alert">Студент успешно добавлен. Вы можете <a href="/add">добавить
          ещё одного</a>, <a href="/control">перейти к списку студентов</a>
      </div>
      {{/if}}
      {{#if roomIsFull}}
      <div class="alert alert-danger mt-2" role="alert">Похоже, что данная комната уже занята. Её могли занять пока вы
        вводили данные. Попробуйте выбрать другую комнату.</a></div>
      {{/if}}
      {{#if flatIsFull}}
      <div class="alert alert-danger mt-2" role="alert">Похоже, что данная квартира уже полностью занята. Её могли
        занять пока вы вводили данные. Попробуйте выбрать другую комнату.</a></div>
      {{/if}}
      {{#if otherError}}
      <div class="alert alert-danger mt-2" role="alert">Ошибка запроса: <p>{{otherError}}</p></a></div>
      {{/if}}
    </div>
    <div class="col-sm-3 order-1 order-sm-2 h-50" style="background-color:#FFFFFF">
      <div class="form-group">
        <h5>Как добавить квартиру?</h5>
        <p>На данной странице Вы можете блабла тут инструкция как пользоваться сие чудом потому что юзвери тупые
          (<strong>можно</strong> заюзать различные <mark>выделения</mark> текста <em>будет классно</em>)</p>
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут
          они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей
          стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные
          члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами,
          ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum
          решила выйти в большой мир грамматики.</p>
      </div>
    </div>
  </div>
</div>
<script>
  function addNewRoom() {
    let maxRooms = 10; //Значение maxRooms определяет максимально возможное количество комнат. Если когда-нибудь как во всех нормальных проектах важные системные глобальные переменные будут вынесены в отдельный документ и данный скрипт будет актуален - то эту переменную надо перенести.
    for (let i = 10; i > 0; i--) {
      let lastroom;
      lastroom = 'roomnum' + i;
      if (document.getElementById(lastroom) != null) {
        let newroomstring = document.createElement('div');
        if (i != 1) {
          let node = document.querySelector('#remover' + i);
          node.parentNode.removeChild(node);
        }
        newroomstring.innerHTML = '<div class="container mt-2" id="room' + (i + 1) + '"><div class="row justify-content-xl-center rounded m-2" style="background-color: #FFF"><label class="col-xl-2 col-form-label"><small>Комната № </small><span class="font-weight-bold" id="roomnum' + (i + 1) + '">' + (i + 1) + '</span></label><label for="roomsize' + (i + 1) + '" class="col-xl-2 col-form-label">Вместимость: </label><div class="col-xl-2"><input class="form-control" type="number" placeholder="Число" id="roomsize' + (i + 1) + '" name="roomsize' + (i + 1) + '" min="1" max="6"></div><div class="col-xl-1" id="forremover' + (i + 1) + '"><a href="#" class="badge badge-danger badge-pill align-middle" onclick="removeRoom(' + (i + 1) + ')" id="remover' + (i + 1) + '">Удалить комнату <i class="fa fa-trash-o"></i></a></div></div></div>';
        roomlist.appendChild(newroomstring);
        if (i == 9) {
          document.getElementById('newroombtn').disabled = true;
        }
        i = -1; //Ломаем к чертям цикл    
      }
    }
  }
  function removeRoom(room) {
    var node = document.querySelector('#room' + room);
    node.parentNode.removeChild(node);
    if (room != 2) {
      let roomremover = document.createElement('a');
      roomremover.innerHTML = '<a href="#" class="badge badge-danger badge-pill align-middle" onclick="removeRoom(' + (room - 1) + ')" id="remover' + (room - 1) + '">Удалить комнату <i class="fa fa-trash-o"></i></a>';
      console.log(roomremover);
      let removeradd = document.getElementById('forremover' + (room - 1));
      removeradd.appendChild(roomremover);
    }
    if (room == 10) {
      document.getElementById('newroombtn').disabled = false;
    }
  }
</script>