<div class="container mt-3">
  <div class="row">
    <div class="col-sm-9 order-2 order-sm-1">
      <h3>Мастер добавления студента</h3>
      {{#if wereDone}}
      <div class="card text-center">
        <div class="card-block">
          <div class="mt-2">
            <center>
              <div id="qrcode"></div>
            </center>
          </div>
          <h1 class="card-title" id="vcode">{{vcode}}</h1>
          <h6 class="card-subtitle mb-2 text-muted">Верификационный код</h6>
          <p class="card-text">Передайте этот код студенту для регистрации в личном кабинете или дайте ему
            просканировать QR код</p>
          <div class="alert alert-success m-2" role="alert">Студент успешно добавлен. Вы можете <a href="/add">добавить
              ещё одного</a>, <a href="/control">перейти к списку студентов</a> или <a href="/">вернуться на
              главную</a>.
          </div>
        </div>
        <script src="./scripts/qrcoder/qrcode.min.js" type="text/javascript"></script>
        <script type="text/javascript">
          let href = "http://www.domen.ru/reg?vcode=" + document.getElementById('vcode').innerHTML;
          new QRCode(document.getElementById("qrcode"), href);
        </script>
      </div>
      {{/if}}
      {{#if roomIsFull}}
      <div class="alert alert-danger mt-2" role="alert">Похоже, что данная комната уже занята. Её могли занять пока вы
        вводили данные. Попробуйте выбрать другую комнату.</a></div>
      {{/if}}
      {{#if flatIsFull}}
      <div class="alert alert-danger mt-2" role="alert">Похоже, что данная квартира уже полностью занята. Её могли
        занять пока вы вводили данные. Попробуйте выбрать другую комнату.</a></div>
      {{/if}}
      {{#if otherError}}
      <div class="alert alert-danger mt-2" role="alert">Ошибка запроса: <p>{{otherError}}</p></a></div>
      {{/if}}
    </div>
    <div class="col-sm-3 order-1 order-sm-2 h-50" style="background-color:#FFFFFF">
      <div class="form-group">
        <h5>Что дальше?</h5>
        <p>На данной странице Вы можете блабла тут инструкция как пользоваться сие чудом потому что юзвери тупые
          (<strong>можно</strong> заюзать различные <mark>выделения</mark> текста <em>будет классно</em>)</p>
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут
          они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей
          стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные
          члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами,
          ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum
          решила выйти в большой мир грамматики.</p>
      </div>
    </div>
  </div>
</div>
